{% extends "prototype/01.base.html" %}
{%block title%}수원 Hot Places{%endblock%}
{% block additional_head %}
<style>
    input {margin: 3px;}
</style>
{% endblock %}
{%block subtitle%}수원 Hot Places{%endblock%}
{%block content%}
<form action="" method="post">
    <table>
        <input type="text" name="place1">
        <input type="text" name="place2">
        <input type="text" name="place3">
        <input type="submit" value="제출" onclick="showHotplaces(); return false;">
    </table>
</form>
<div class="mt-2 d-none" id="resDiv">
    <iframe src="{{url_for('static',filename='img/Hotplaces.html')}}" frameborder="1" width="800px" height="500px"></iframe>
    <button onclick="location.href='/python/hotplace'">재실행</button>
</div>
{%endblock%}