{% extends "prototype/01.base.html" %}
{%block title%}Interpark Crawling{%endblock%}
{% block weather %}{{weather|safe()}}{% endblock %}
{% block additional_head %}
<!-- 나중에 분리 -->
<script>
    function send_val() {
        let timep = $('#timep').val();
        let stn = $('#input_stn').val()
        $.ajax({
            type: 'POST',
            url: '/' ,      // 주소 추가해야함
            data: { timep: timep, stn: stn},
            success: function (result) {
                $('#init_img').css('display', 'none');
                $('#show_img').css('display', 'block');
                let dn = result.dn;
                let up = result.up;
                $('#i1').attr('src', '/static/img/stage_'+dn+'.png');
                $('#i2').attr('src', '/static/img/stage_'+up+'.png');

            }

        });
    }
</script>
{% endblock %}
{% block subtitle %}실시간 역정보{% endblock %}
{%block content%}
<!-- jQuery time picker 파일 추가해야함 -->
<form action="" method="post">
    <table class="table table-borderless">
        <tr>
            <td style="width:35%"><label class="col-form-label">역 이름</label>
            </td>
            <td style="width:65%">
                <input type="text" name="stn" id="input_stn" placeholder="조회할 역을 입력하세요(예: 강남역)">
            </td>
        </tr>
        <tr>
            <td><label class="col-form-label">시간</label></td>
            <td style="width:65%">
                <input type="text" class="timepicker" id="timep" name="timep" placeholder="조회할 시간">
                <!-- 05시 시작 10분 단위 -->
                <script>
                    $(document).ready(function () {
                        $('input.timepicker').timepicker({
                            timeFormat: 'HH:mm',
                            interval: 10,
                            startTime: '05:00',
                            dynamic: false,
                            dropdown: true,
                            scrollbar: true
                        });
                    });
                </script>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="submit" value="제출" onclick="send_val(); return false;">
            </td>
        </tr>
    </table>
</form>


    
{%endblock%}