{% extends "prototype/01.base.html" %}
{% block title %}게시판{% endblock %}
{% block weather %}{{ weather | safe() }}{% endblock %}
{% block additional_head %}
    <style>
        td, th	{ text-align: center; }
    </style>
    <script>
        function search() {
            const field = $('#field').val();
            const query = $('#query').val();
            location.href = '/board/list?p=${currentBoardPage}&f=' + field + '&q=' + query;
        }
    </script>    
{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
    <table class="table table-sm table-borderless">
        <tr class="d-flex">
            <td class="col-6" style="text-align: left;">
                <h3><strong>게시글 목록</strong>
                    <span style="font-size: 0.6em;">
                        <a href="/board/write" class="ms-5"><i class="far fa-file-alt"></i> 글쓰기</a>
                    </span>
                </h3>
            </td>
            <td class="col-2">
                <select class="form-select me-2" id="field">
                    <option value="title" {% if field == 'title' %}selected{% endif %}>제목</option>
                    <option value="content" {%if field == 'content'%}selected{%endif%}>본문</option>
                    <option value="uname" ${% if field == 'uname' %}selected{%endif%}>글쓴이</option>
                </select>
            </td>
            <td class="col-3">
                <input class="form-control me-2" type="search" placeholder="검색할 내용" value="{{ query }}" id="query">
            </td>
            <td class="col-1">
                <button class="btn btn-outline-primary" onclick="search()">검색</button>
            </td>
        </tr>
    </table>
    <hr>
    <table class="table mt-2">
        <tr class="table-secondary">
            <th style="width: 10%;">ID</th>
            <th style="width: 50%;">제목</th>
            <th style="width: 14%;">글쓴이</th>
            <th style="width: 16%;">날짜/시간</th>
            <th style="width: 10%;">조회수</th>
        </tr>
        {% for board in board_list %}
        <tr>
            <td>{{board[0]}}</td>
            <td>
                <a href="/board/detail/{{ board[0] }}/{{ board[1] }}">{{ board[2] }}
                {% if board[5] >= 1 %}
                    <span class="text-danger">[{{ board[5] }}]</span>
                {% endif %}
                </a>
            </td>
            <td>{{ board[6] }}</td>
            <td>
                {% if today in board[3] %}
                    {% if len(board[3][11:19]) < 6 %}
                        {{ board[3][11:19] }}:00
                    {% else %}
                        {{ board[3][11:19] }}
                    {% endif %}
                {% else %}
                    {{ board[3][0:10] }}
                {% endif %}
                </td>
            <td>{{ board[4] }}</td>
        </tr>
    {% endfor %}
    
    </table>

{% endblock %}